<%- include("partials/header") %>

<!-- edit by clicking title -->
<a href="/edit/<%=title%>"><h1><%=title%></h1></a>
<p><%=content%></p>
<small>
    <%=date %>
</small>

<%- include("partials/footer") %>